@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    background: #ff0000;
}

.form {
    max-width: 680px;
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}